html{
    min-width: 577px;
    overflow-x: auto;
    max-width: 100%;
}
body{
    overflow-x: hidden;
    width: 100%;
}
.active {
    text-decoration: underline !important;
    color: rgba(199, 116, 105, 0.69);
}

.black {
    color: black;
}

.section-header h2 {
    font-size: 32px;
    color: #1d1d1f;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #eee;
    bottom: 0;
    left: 0;
}

.box {
    padding: 20px;
    height: 90%;
    margin-bottom: 35px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
}

.carousel-item {
    height: 90vh;
}

.box h4:hover {
    text-shadow: 1px 1px 1px rgba(29, 33, 28, 0.37);
}

.myicon {
    width: 5em;
    padding: 0.5em;
    float: left;
}

.navbar-dark {
    height: 95px;
    align-content: center;
}

.wrapper {
    display: block;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    width: 30px;
    margin-top: 0;

    padding-top: 0;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.cc {
    position: absolute;
    bottom: 2px;
    color: #acacac;
    width: 100%;
    text-align: center;
    font-size: medium;
}

@font-face {
    font-family: 'FontAwesome';
    src: local("FontAwesome"), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2em !important;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-facebook:before {
    content: "\f09a";
}

footer {
    margin-top: 90px;
    bottom: 0;
    width: 100%;
}

.contacts {
    margin: 30px;
    font-size: larger;
}

.numbers {
    font-size: large;
    position: absolute;
    top: 120px;
    right: 40px;
}

.googlemap {
    height: 300px;
    width: 40%;
    border-radius: 15px;
    float: right;
    margin-right: 5%;
    box-shadow: 2px 2px 3px #8e8e8e;
}

.error404 {
    margin: 40px;
    padding: 20px;
}

.pict-with-caption {
    width: 100%;
    background: url("../images/taxipark.jpg") no-repeat;
    background-size: cover;
    height: 90vh;
}

.semi-transparent {
    background-color: rgba(230, 230, 230, 0.38);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
}

.become {
    margin: 20px;
}

.become button {
    width: 50% !important;
    font-size: xx-large;
    font-weight: bolder;
}

.condition {
    margin: 20px 7%;
    font-size: larger;

}

.tip-img {
    width: 25%;
    height: 100%;
    margin: 0 5%;
    padding: 0;
    object-fit: cover;
    float: right;
}

.rect {
    width: 100%;
    height: 100px;
    fill: #55595c;
}

.input-group-prepend {
    /*width: 85px !important;*/
}

.input-group-prepend span {
    width: 100% !important;
}

.invalid-feedback p {
    margin: 0 !important;
    padding: 0 !important;
}
.wrap{
    column-count: 2;
}
.prod{
    background-color: rgba(214, 255, 234, 0.59);
    text-align: right;
    padding-right: 15px;
}
.driver_auto{
    margin: 0 25px;
    padding: 10px 25px 25px;
}
.profile{
    margin: 25px 25px 0;
    padding: 25px;
    min-height: 70vh;
}
.main_profile_part{
    width: 100%;
}
.main_profile_part img{
    border-radius: 10%;
    border: 1em solid #ced4da;
    width: 28%;
    margin: 0 3%;
}
.personal_info{
    float: right;
    width: 60%;
}
.personal_info .input-group-prepend, .driver_auto .input-group-prepend{
    width: 65px;
    margin: 7px 0;
}
.personal_info .input-group-text{
    background-color: #eeeeee;
    border: 1px solid #ced4da;
}
.personal_info input[disabled], .driver_auto input[disabled], .driver_auto select[disabled]{
    background-color: white;
    margin: 7px 0;
    border: 1px solid #ced4da;
}
.personal_info input, .driver_auto input, .driver_auto select{
    background-color: #e3fdff;
    margin: 7px 0;
}
.login{
    background: transparent;
    border: 0 !important;
    font-weight: bolder;
    font-size: xx-large;
    color: black;
    font-family: Arial, serif;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.status{
    width: 100%;
    background: transparent;
    border: 0;
    font-size: medium;
    margin-bottom: 10px;
}
.input-group .btn-info{
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    width: 50%;
    margin: 0 25%;
}
.year{
    width: 10px !important;
}