div.container
    div.row
        div.alert-warning.col-sm-12.col-12
            strong Переадресація
            span Ви вже водій нашого ресурсу і намагалися перейти за посиланням недоступним для зареєстрованих водіїв