section.container.content
    br
    div.row
        h1.col-sm-12.col-12
            kbd Контакти
        div.col-12.col-sm-7
            div
                p
                    b Телефони:
                pre.mb-0     +38 (066) 377 85 32
                pre.mb-0     +38 (044) 000 00 00
            p
                b Адреса:
                span  вулиця Григорія Сковороди, 2, Київ, 04655
            p
                b Електронна пошта:
                code
                    pre.mb-0     n.shkarow@gmail.com
                    pre.mb-0     n.shkarovska@ukma.edu.ua
            p Ми відкриті для спілкування! Слідкуйте за нами у соцмережах (активні посилання шукайте внизу сторінки). По всіх питаннях пишіть на наші пошти або телефонуйте в робочий час:
                pre.mb-0     <b>Пн-Пт: </b>
                    span 9:00 - 19:00
                pre.mb-0     <b>Сб-Нд: </b>
                    span 10:00 - 17:00
                pre.mb-0     <b>Святкові дні: </b>
                    span 11:00 - 17:00
        div.googlemap.col-sm-5.col-12(id="googleMap")
include footer
script(src="https://maps.googleapis.com/maps/api/js?key=" + googlemapapi + "&callback=myMap")
script(src='../../src/js/maps.js' type="text/javascript")
script(type="text/javascript") myMap();