footer.footer.bg-dark
    div.container
        div.row
            div.col-12.col-sm-12
                nav.navbar.navbar-dark(style='position: initial; height: fit-content')
                    div.row.wrapper
                        ul.col-12.col-sm-12.row.mb-0
                            a.col-3.col-sm-2.offset-1.offset-sm-3(href='https://www.facebook.com/natalia.shkarovska' target='_blank')
                                li.facebook
                                    i.fa.fa-facebook.fa-2x(aria-hidden="true")
                            a.col-3.col-sm-2(href='https://twitter.com/natahiko' target='_blank')
                                li.twitter
                                    i.fa.fa-twitter.fa-2x(aria-hidden="true")
                            a.col-3.col-sm-2(href='https://www.instagram.com/natahiko/' target='_blank')
                                li.instagram
                                    i.fa.fa-instagram.fa-2x(aria-hidden="true")
            div.col-sm-12.col-12.copyright Created by @natalia_shkarovska, Kiev-Mohula Academy 2020