head
    title=www
    meta(charset='utf-8')
    include outsource
body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        div.container(style="max-width: 100%")
            a.navbar-brand(href='#')
                img.d-inline-block.align-top(src="../../files/images/logo.png" width="30" height="30" alt="")
                span #{title}
            button.navbar-toggler(data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id="navbarContent")
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(id='nav_profile' href="/profile") Профіль
                    li.nav-item.dropdown(id='nav_client')
                        a.nav-link.dropdown-toggle(id='nav_aboutus' href="#" data-toggle="dropdown" aria-expanded="false") Блог
                        div.dropdown-menu
                            a.dropdown-item(href="/aboutus") Про нас
                            a.dropdown-item(href="/user/userrules") Правила користування
                    li.nav-item
                        a.nav-link(id='nav_ordertaxi' href="/ordertaxi") Замовити таксі
                    li.nav-item
                        a.nav-link(id='nav_mydrives' href="/orders/my") Мої замовлення
                    li.nav-item
                        a.nav-link(id="nav_contacts" href="/contacts") Контакти
                span.navbar-text
                    a.btn.btn-outline-warning(onclick="exit()") Вихід
script(type='text/javascript') document.getElementById('#{nowpage}').className += " active_nav ";