head
    title=www
    meta(charset='utf-8')
    link(href = '../css/main.css', rel = 'stylesheet')
    link(href = '../css/media.css', rel = 'stylesheet')
    link(href = '../node_modules/bootstrap/dist/css/bootstrap.min.css', rel = 'stylesheet')
    script(src="../node_modules/jquery/dist/jquery.min.js" type="text/javascript" )
    script(defer src='../node_modules/bootstrap/dist/js/bootstrap.min.js' type="text/javascript" )
    script(defer src='../js/validator.js' type="text/javascript")
    script(src='../js/main.js' type="text/javascript")
body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        div.container(style="max-width: 100%")
            a.navbar-brand(href='#')
                img.d-inline-block.align-top(src="../images/logo.png" width="30" height="30" alt="")
                span #{title}
            button.navbar-toggler(data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id="navbarContent")
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/profile") Профіль
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false") Блог
                        div.dropdown-menu
                            a.dropdown-item(href="/aboutus") Про нас
                            a.dropdown-item(href="/driver/workcond") Умови роботи
                            a.dropdown-item(href="/driver/usefultips") Корисні поради
                    li.nav-item
                        a.nav-link(href="/orders") Заявки
                    li.nav-item
                        a.nav-link(href="/mydrives") Мої поїздки
                    li.nav-item
                        a.nav-link(href="/contacts") Контакти
                span.navbar-text
                    a.btn.btn-outline-warning(onclick="exit()") Вихід
