section.condition.content
    h2
        kbd Замовлені поїздки
    div.orders(id='orders')

include footer
script(type="text/javascript") renew_orders_method();
script(type="text/javascript") renew_orders();
