section.error404.content
    h1 Ви успішно зареєстровані
    p.xlarge На вказану вами пошту було надіслано <u>Пароль</u>, який ви можете використати для першого входу на сайт, а потім змінити його на власний:
    button.btn-warning.btn.btn-md.pr-5.pl-5.b(type="button" data-toggle="modal" data-target="#login" href="#") Увійти
include footer