div.content(style='width: 80%; margin: 15px 10%')
    div.alert.alert-danger
        button.close(type="button" data-dismiss="alert") &times;
        strong Сталася якась помилка
        span  Ви не зареєстровані, перевірте правильність вашого коду і спробуйте ще
include footer