div.content
    section.pict-with-caption
        div.semi-transparent
            div.card(style='padding: 20px')
                h2 Робота в нас - це мрія будь-якого водія!!! Приєднуйтесь вже зараз
                p Кожен наш працівник - особистість, тому ми піклуємось про вас, вашу безпеку та надаємо найкращі умови праці
            form.become(action='/becomedriver' method='get')
                button.btn.btn-warning(type='submit') Стати водієм
    section.condition
        p Ми приймаємо на роботу лише найкращих! Щоб працювати у нас ви та ваше авто повинні відповідати деяким мінімальним вимогам, що наведені нижче
        h2 Вимоги до автомобіля
        ul
            li Авто має бути випущене після 2000-го року
            li Автомобіль повинен мати не менше 4 дверей
            li ПОвинне бути дійсне свідоцтво про реєстрацію транспортного засобу
            li Вартість автомобіля економ-класу повинна бути більшою за 140 000 (сто сорок тисяч) грн
    section
        div.container
            div.section-header
                h2 Основні вимоги до водіїв
                p
            div.row
                div.col-lg-4
                    div.box
                        img.myicon(src='../../files/images/icon4.png')
                        h4 Посвідчення водія
                        p Водій завжди повинен при собі мати посвідчення відповідної категорії, а також бажано паспорт
                div.col-lg-4
                    div.box
                        img.myicon(src='../../files/images/icon5.png')
                        h4 Стаж від 3 років
                        p Ви маєте мати практику водіння автомобілем від 3 років, при цьому без ДТП за останній рік
                div.col-lg-4
                    div.box
                        img.myicon(src='../../files/images/icon6.png')
                        h4 Документи
                        p При собі завжди потрібно мати
                            b  Ліцензію на перевезення пасажирів
                            span  та
                            b  Свідотцтво на авто
    section.mt-5
        div.container
            div.section-header
                h2 Список дозволених машин
                p
            ul.nav.nav-tabs(style='font-size:x-large')
                li.nav-item
                    a.nav-link.active(data-toggle="tab" href="#economTable") Економ
                li.nav-item
                    a.nav-link(data-toggle="tab" href="#comforttable") Комфорт +
            div.tab-content
                div.tab-pane.container.active(id='economTable')
                    div.row
                        each mod in allmodels
                             if mod.class === "econom"
                                 div.col-6.col-sm-4.col-md-3.p-10
                                     div.card.hover-light
                                         div.card-body.row
                                             div.col-12 #{mod.model}
                                             div.col-12.text-sm-right #{mod.producer}
                div.tab-pane.container(id='comforttable')
                    div.row
                        each mod in allmodels
                            if mod.class === "comfort"
                                div.col-6.col-sm-4.col-md-3.p-10
                                    div.card.hover-light
                                        div.card-body.row
                                            div.col-12 #{mod.model}
                                            div.col-12.text-sm-right #{mod.producer}
include footer