section.error404
    p.display-1 <b>404</b>
    p We are sorry, but to try to visit page that need another lever of authorization or page that our site don't exist. Please, check your url or visit the main page by click on the button below
    form(action='/' method='get')
        button.btn-success.btn.btn-lg(type='submit') На головну
