footer
    nav.navbar.navbar-expand-lg.bg-dark.navbar-dark
            div.wrapper
                ul
                    a(href='https://www.facebook.com/natalia.shkarovska' target='_blank')
                        li.facebook
                            i.fa.fa-facebook.fa-2x(aria-hidden="true")
                    a(href='https://twitter.com/natahiko' target='_blank')
                        li.twitter
                            i.fa.fa-twitter.fa-2x(aria-hidden="true")
                    a(href='https://www.instagram.com/natahiko/' target='_blank')
                        li.instagram
                            i.fa.fa-instagram.fa-2x(aria-hidden="true")
                    //a(href='mailto:n.shkarovska@ukma.edu.ua?subject=Taxiconn' target='_blank')
                    //    li.google
                    //        i.fa.fa-google.fa-2x(aria-hidden="true")
            br
            div.cc Created by @natalia_shkarovska, Kiev-Mohula Academy 2020