head
    title=www
    meta(charset='utf-8')
    link(href = '../css/main.css', rel = 'stylesheet')
    link(href = '../css/bootstrap.css', rel = 'stylesheet')
    link(href = '../css/bootstrap-grid.css', rel = 'stylesheet')
    link(href = '../css/bootstrap-reboot.css', rel = 'stylesheet')
    script(src='../js/main.js' type="text/javascript")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src='../js/bootstrap.js' type="text/javascript" )
    script(src='../js/bootstrap.bundle.js' type="text/javascript" )
body
    nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='#')
            img.d-inline-block.align-top(src="../images/logo.png" width="30" height="30" alt="")
            span #{title}
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse(id="navbarContent")
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link.disabled(href="/profile") Профіль
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false") Блог
                    div.dropdown-menu
                        a.dropdown-item.disabled(href="/aboutus") Про нас
                        a.dropdown-item.disabled(href="/workcond") Умови роботи
                        a.dropdown-item.disabled(href="/usefultips") Корисні поради
                li.nav-item
                    a.nav-link.disabled(href="/orders") Заявки
                li.nav-item
                    a.nav-link.disabled(href="/mydrives") Мої поїздки
                li.nav-item
                    a.nav-link.disabled(href="/contacts") Контакти
            form.form-inline
                button.btn.btn-outline-success Вихід
