div(style='width: 80%; margin: 15px 10%')
    div.alert.alert-success
        button.close(type="button" data-dismiss="alert") &times;
        strong Вітаємо, ви зареєстровані!
        span  Ви можете увійти в систему скориставший логіном та паролем, вказаними при реєстрації