section.condition
    p.display-4 <b>Вашу заявку успішно прийнято!</b>
    p Очікуйте, ми шукаємо для вас водія.
    p Щойно водій прийме вашу заявку ви отримаєте лист на електронну пошту з детальною інформацією про вашого водія та поїздку.
        span Переглянути ваші поїздки (включаючи поточну) ви можете за кнопкою нижче
    button.btn-info.btn.btn-lg.d-inline-block(onclick='window.location="/mydrives"') Переглянути мої поїздки
    button.btn.btn-outline-info.btn-lg.d-inline-block(onclick='window.location="/"') На головну