section.condition
    h2
        kbd Корисні поради водіям
        b
            i  taxiconn.com.ua
    p Щоб мати рекомендації серед користувачів, а також отримувати можливі додаткові чайові від клієнтів можете скористатися нашими порадами, що нададуть вам змогу покращити ваш сервіс
    p Також в цьому розділі ви можете знайти лайфхаки, що полекшать вашу роботу та зроблять її ще приємнішою для вас та вашого автомобілю, що є важливою складовою наших працівників
    hr
    div(style='height: 200px')
        img.img-thumbnail.tip-img(src='../images/tip-car.jpg' alt="")
        h4 Автомобіль
        ul
            li Слідкуйте за чистотою вашого авто
            li Підтримуйте чистоту в салоні та не тримайте в салоні зайвих речей
            li Регулярно проходьте ТехОгляд
            li Краще, щоб в салоні не було зайвих запахів:
                i  цигарки, ароматизатори, кава...
    hr
    div(style='height: 200px')
        img.img-thumbnail.tip-img.float-left(src='../images/tip-driver.jpg' alt="")
        h4 Водій
        ul
            li Будьте охайними:
                i  чистий одяг, відсутність неприємних запахів...
            li Не запізнюйтесь, а приїхавши заздалегідь не надзвонюйте клієнтові
            li Користуйтесь навігатором
                i  (навіть якщо знаєте короткий шлях)
            li Дотримуйтесь
                b  Правил Дорожнього Руху
    hr
    div(style='height: 200px')
        img.img-thumbnail.tip-img(src='../images/tip-client.jpg' alt="")
        h4 Пасажир
        ul
            li Обов'язково вітайтеся та прощайтеся з клієнтом
            li Допомагайте грузити особисті речі до багажника
            li Дотримуйтесь
                i  правил етикету
            li Завжди відповідайте на питання користувачів, але не втомлюйте бесідою
