:root{
    --black:#343A40;
    --yellow: #ffc107;
    --light-grey: #C3CAD2;
    --grey:#636970;
    --yellow-darker: #E69C24;
    --yellow-dark: rgb(194, 132, 34);
    --light-yellow: rgba(255, 223, 127, 0.5);
}
body {
    overflow-x: hidden;
    width: 100%;
    padding-top: 75px;
}
.black {
    color: black;
}
.hover-light:hover{
    background-color: var(--light-yellow);
    font-weight: 460px;
}

.section-header h2 {
    font-size: 32px;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #eeeeee;
    bottom: 0;
    left: 0;
}

.box {
    padding: 20px;
    height: 90%;
    margin-bottom: 35px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #ffffff;
    transition: 0.4s;
}

.carousel-item {
    height: 90vh;
}

.box h4:hover {
    text-shadow: 1px 1px 1px rgba(29, 33, 28, 0.37);
}

.myicon {
    width: 5em;
    padding: 0.5em;
    float: left;
}

.wrapper {
    width: 70% !important;
    margin: auto !important;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #d8e2dc;
    float: left;
    transition: all 0.5s ease;
}
.card-header{
    margin-right: -1px;
    margin-left: -1px;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    width: 30px;
    margin-top: 0;

    padding-top: 0;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

footer .copyright {
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
    color: white !important;
}

.cc {
    bottom: 2px;
    color: #acacac;
    text-align: center;
    font-size: medium;
    align-items: center;
    align-self: center;
}

@font-face {
    font-family: 'FontAwesome';
    src: local("FontAwesome"), url('../../files/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('/files/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../../files/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2em !important;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-facebook:before {
    content: "\f09a";
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
footer {
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
}

footer nav {
    height: 95px;
}

.pt-header {
    padding: 75px 0 0;
    margin: 0;
    width: 100%;
    position: initial;
}

.contacts {
    margin: 30px;
    font-size: larger;
}

.numbers {
    font-size: large;
    position: absolute;
    top: 120px;
    right: 40px;
}

.googlemap {
    height: 300px;
    box-shadow: 2px 2px 3px var(--grey);
}

.error404 {
    margin: 15px 25px;
    padding: 10px;
}

.pict-with-caption {
    width: 100%;
    background: url("../../files/images/taxipark.jpg") no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: -15px;
}

.semi-transparent {
    background-color: rgba(230, 230, 230, 0.38);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
}

.become {
    margin: 20px;
}

.become button {
    width: 50% !important;
    font-size: xx-large;
    font-weight: bolder;
}

.condition {
    margin: 20px 7%;
    font-size: larger;
}

.tip-img {
    width: 25%;
    height: 100%;
    margin: 0 5%;
    padding: 0;
    object-fit: cover;
    float: right;
}

.rect {
    width: 100%;
    height: 100px;
    fill: var(--yellow-dark);
}

.input-group-prepend span {
    width: 100% !important;
}

.invalid-feedback p {
    margin: 0 !important;
    padding: 0 !important;
}
.wrap {
    column-count: 2;
}

.prod {
    background-color: var(--yellow-dark);
    text-align: right;
    padding-right: 15px;
}
.p-10{
    padding: 10px !important;
}
.p-10 .text-sm-right{
    font-size: smaller;
    font-style: italic;
}

.driver_auto {
    margin: 0 25px;
    padding: 10px 25px 25px;
}

.main_profile_part {
    width: 100%;
}
.photo_container{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.profile_img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal_info input[disabled], .driver_auto input[disabled], .driver_auto select[disabled]{
    background-color: white;
    margin: 7px 0;
    border: 1px solid #ced4da;
}

.personal_info input, .driver_auto input, .driver_auto select, .driver_auto textarea {
    background-color: rgba(230, 156, 36, 0.3);
    margin: 7px 0;
}

.login {
    background: transparent;
    border: 0 !important;
    font-weight: bolder;
    font-size: xx-large;
    color: black;
    font-family: "Comfortaa", serif;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.status {
    width: 100%;
    background: transparent;
    border: 0;
    font-family: "Comfortaa", serif;
    font-size: medium;
}

.year {
    width: 10px !important;
}

.ordercart {
    margin-top: 10px;
    background: var(--yellow);
    height: 45vh;
    float: right;
}


.alert a {
    color: black;
    text-decoration: underline;
}

.alert a:hover {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.bg-light-grey{
    background-color: var(--light-grey) !important;
}
.dropdown-item:hover{
    background-color:  var(--light-grey) !important;
}
.bg-grey{
    background-color: var(--grey) !important;
}
.bg-warning-dark{
    background-color: var(--yellow-darker) !important;
    border-color: var(--yellow-darker) !important;
    font-weight: bolder!important;
}
.card-header {
    padding: 5px !important;
}

.card-body {
    padding: 10px !important;
    font-size: large;
}

.card {
    margin-bottom: 20px !important;
}

.card-footer {
    padding: 7px !important;
}

.card-footer a, .ord_buttons a {
    margin-right: 12px !important;
}

.kbdord {
    color: black !important;
    background: white !important;
    font-size: medium !important;
}

.comment_order {
    font-size: medium;
    color: var(--black) !important;
}

.order_price {
    margin-left: 10px;
    font-weight: bolder;
}

.shadow-small{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.65) ;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
}
.brad-0{
    border-radius: 0 !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload_photo_profile{
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding-top: 100%;
    z-index: 1000;
    position: relative;
    margin-top: -100%;
}
.upload_photo_label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: url("../../files/images/plus.svg");
    opacity: 40%;
    border-radius: 50%;
}
.nav-link{
    color: #ffc107;
}
.nav-link:hover{
    color: #CC9500;
}
#mycarousel{
    margin-top: -15px;
}
.nav-link{
    color: var(--light-grey);
}
.active_nav{
    /*color: #ffdf7f !important;*/
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(134, 134, 134);
}